---
BasedOnStyle: LLVM


---
Language: Cpp
PointerAlignment: Right
IndentWidth: 8
TabWidth: 8
UseTab: Always
ColumnLimit: 120
BinPackParameters: false
BinPackArguments: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterClass: true
  AfterStruct: true
  AfterControlStatement: true
AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: Yes



